@import 'tailwindcss';
@import '@fontsource/space-mono';
/*@import '@fontsource/trade-winds';*/
/*@import '@fontsource/barrio';*/
/*@import '@fontsource/doto';*/
@import '@fontsource/sixtyfour';
/*@import '@fontsource-variable/sixtyfour';*/
/*@import '@fontsource-variable/sixtyfour-convergence';*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-space-mono: 'Space Mono', monospace;
    /*--font-trade-winds: 'Trade Winds', monospace;*/
    /*--font-barrio: 'Barrio', monospace;*/
    /*--font-doto: 'Doto', monospace;*/
    --font-sixtyfour: 'Sixtyfour', monospace;
    /*--font-sixtyfour-convergence: 'Sixtyfour Convergence Variable', monospace;*/

    --color-primary: var(--color-blue);
    --color-secondary: var(--color-burgundy-600);
    --color-success: var(--color-bright-green);
    --color-error: var(--color-red);

    --color-blue: #1564f4;
    --color-dark-blue: var(--color-blue-950);
    --color-content: var(--color-terminal-black-50);

    --color-blue-50: #e3e7ee;
    --color-blue-100: #c8d0dc;
    --color-blue-200: #adb9cb;
    --color-blue-300: #93a2ba;
    --color-blue-400: #7a8ca9;
    --color-blue-500: #627799;
    --color-blue-600: #4a6188;
    --color-blue-700: #334d77;
    --color-blue-800: #1d3867;
    --color-blue-900: #062456;
    --color-blue-950: #041028;

    --color-gold: #efbf04;
    --color-bright-green: #45f415;
    --color-red: #f50538;

    --color-burgundy: #ef4957;
    --color-burgundy-50: #fdf1f1;
    --color-burgundy-100: #fadfe0;
    --color-burgundy-200: #f7c2c4;
    --color-burgundy-300: #f49fa3;
    --color-burgundy-400: #f17980;
    --color-burgundy-500: #ef4957;
    --color-burgundy-600: #d63041;
    --color-burgundy-700: #af2533;
    --color-burgundy-800: #891b26;
    --color-burgundy-900: #4e0b12;
    --color-burgundy-950: #350509;

    --color-terminal-black: #2e2f30;
    --color-terminal-black-50: #f3f4f4;
    --color-terminal-black-100: #e7e8e9;
    --color-terminal-black-200: #cdcfd1;
    --color-terminal-black-300: #b6b9bc;
    --color-terminal-black-400: #9ea1a4;
    --color-terminal-black-500: #898c8e;
    --color-terminal-black-600: #737577;
    --color-terminal-black-700: #5f6163;
    --color-terminal-black-800: #4a4b4d;
    --color-terminal-black-900: #38393a;
    --color-terminal-black-950: #2e2f30;
}

h1 {
    @apply text-2xl text-primary font-space-mono;
}
h2 {
    @apply text-4xl text-secondary uppercase text-center font-space-mono font-bold;
}
html {
    scroll-behavior: smooth;
}
body {
    @apply bg-dark-blue;
}

.btn-primary {
    @apply bg-secondary font-space-mono uppercase py-1 px-7 mx-4 rounded-md text-white font-bold;
    @apply transition-[background-color] duration-200;
}

.btn-primary:hover {
    @apply bg-primary
}

.btn-secondary {
    @apply bg-blue text-white rounded-md font-bold px-0.5 py-1 transition-[background-color] duration-200;
}

.btn-secondary:hover {
    @apply bg-bright-green;
}

.card {
    @apply bg-white shadow-lg overflow-hidden rounded-md transition-shadow duration-300;

    h1 {
        @apply text-3xl font-extrabold text-secondary;
        /*@apply bg-gradient-to-b from-blue-900 to-blue-400 bg-clip-text text-transparent;*/
        /*@apply drop-shadow-[0_1.2px_1.2px_rgba(255,255,255,0.8)];*/
    }
}
.card:hover {
    @apply shadow-2xl;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5);
    transform: translateY(-0.4rem);
}

.text-outline {
    text-shadow:
        -1px 0 1px var(--color-white),
        1px 0 1px var(--color-white),
        0 0 1px var(--color-white),
        -1px -1px 1px var(--color-white),
        1px -1px 1px var(--color-white),
        0 -1px 1px var(--color-white),
        -1px 1px 1px var(--color-white),
        1px 1px 1px var(--color-white),
        0 1px 1px var(--color-white);
}

.section-wrapper {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}


/*button {*/
/*    width: 10em;*/
/*    position: relative;*/
/*    height: 3.5em;*/
/*    border: 3px ridge #149CEA;*/
/*    outline: none;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    transition: 1s;*/
/*    border-radius: 0.3em;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

/*button::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -10px;*/
/*    left: 3%;*/
/*    width: 95%;*/
/*    height: 40%;*/
/*    background-color: #212121;*/
/*    transition: 0.5s;*/
/*    transform-origin: center;*/
/*}*/

/*button::before {*/
/*    content: "";*/
/*    transform-origin: center;*/
/*    position: absolute;*/
/*    top: 80%;*/
/*    left: 3%;*/
/*    width: 95%;*/
/*    height: 40%;*/
/*    background-color: #212121;*/
/*    transition: 0.5s;*/
/*}*/

/*button:hover::before, button:hover::after {*/
/*    transform: scale(0)*/
/*}*/

/*button:hover {*/
/*    box-shadow: inset 0px 0px 25px #1479EA;*/
/*}*/
