@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


/* Custom styles for the portfolio */
html {
    scroll-behavior: smooth;
}

body {
    /*font-family: 'Inter', sans-serif;*/
}

.btn-primary {
    background-color: #dc2626;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #b91c1c;
}

.btn-secondary {
    background-color: #0284c7;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.btn-secondary:hover {
    background-color: #0369a1;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}

.card-hover {
    transition: transform 0.3s;
}

.card-hover:hover {
    transform: translateY(-0.25rem);
}

.profile-pic-wrapper {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    border: 2px solid #dc2626;
    margin-left: 2rem;
    margin-top: 0.25rem;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.profile-pic-wrapper {*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  border-radius: 100%;*/
/*  overflow: hidden;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  float: right;*/
/*  border: 2px solid red;*/
/*  margin: 5px 0 0 30px;*/
/*}*/

/*.profile-pic {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*}*/
