@import "tailwindcss";
@import '@fontsource/space-mono';
@import '@fontsource/sixtyfour';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-space-mono: 'Space Mono', monospace;
    --font-sixtyfour: 'Sixtyfour', monospace;

    --color-primary: var(--color-blue);
    --color-secondary: var(--color-bulldog-red);
    --color-success: var(--color-green-700);
    --color-error: var(--color-red);
    --color-blue: #1564f4;
    --color-dark-blue: var(--color-blue-950);
    --color-content: var(--color-terminal-black-50);

    --color-blue-50: #e3e7ee;
    --color-blue-100: #c8d0dc;
    --color-blue-200: #adb9cb;
    --color-blue-300: #93a2ba;
    --color-blue-400: #7a8ca9;
    --color-blue-500: #627799;
    --color-blue-600: #4a6188;
    --color-blue-700: #334d77;
    --color-blue-800: #1d3867;
    --color-blue-900: #062456;
    --color-blue-950: #041028;

    --color-gold: #efbf04;
    --color-bright-green: #45f415;
    --color-red: #f50538;
    --color-bulldog-red: #BA0C2F;
    --color-burgundy: #ef4957;

    --color-terminal-black: #2e2f30;
    --color-terminal-black-50: #f3f4f4;
    --color-terminal-black-100: #e7e8e9;
    --color-terminal-black-200: #cdcfd1;
    --color-terminal-black-300: #b6b9bc;
    --color-terminal-black-400: #9ea1a4;
    --color-terminal-black-500: #898c8e;
    --color-terminal-black-600: #737577;
    --color-terminal-black-700: #5f6163;
    --color-terminal-black-800: #4a4b4d;
    --color-terminal-black-900: #38393a;
    --color-terminal-black-950: #2e2f30;
}

section {
    @apply pb-20;
}

h1 {
    @apply font-space-mono text-6xl text-primary;
}

h2 {
    @apply text-center font-sixtyfour text-secondary uppercase text-3xl md:text-5xl mb-2;
}

h3 {
    @apply font-space-mono text-2xl font-bold text-secondary;
}

h4 {
    @apply text-lg font-semibold text-terminal-black mt-4 mb-3;
}

html {
    @apply min-h-full relative;
    scroll-behavior: smooth;
}

body {
    @apply bg-dark-blue h-full;
}

p {
    @apply px-0.5 py-0;
}

.card {
    @apply overflow-hidden rounded-lg bg-white shadow-2xl lg:shadow-lg lg:transition-shadow lg:duration-300;
    @apply border border-gray-200;
}

.card h1 {
    @apply text-3xl font-extrabold text-secondary;
}

.text-outline {
    text-shadow:
        -1px 0 1px var(--color-white),
        1px 0 1px var(--color-white),
        0 0 1px var(--color-white),
        -1px -1px 1px var(--color-white),
        1px -1px 1px var(--color-white),
        0 -1px 1px var(--color-white),
        -1px 1px 1px var(--color-white),
        1px 1px 1px var(--color-white),
        0 1px 1px var(--color-white);
}

.section-wrapper {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.success,
.error {
    @apply mx-auto mt-1 mb-4 w-11/12 rounded-md text-sm;
}

.success {
    @apply bg-green-100 px-4 py-2 text-success;
}

.error {
    @apply bg-red-100 px-4 py-2 text-error;
}

.btn-content {
    @apply inline-flex items-center justify-center whitespace-nowrap;
    @apply border border-white mx-2 py-1 px-5 bg-secondary;
    @apply font-space-mono text-sm cursor-pointer font-bold uppercase text-white;
    @apply transition-all duration-200 rounded-lg shadow-terminal-black-500 shadow-sm;
}

.btn-content:hover {
    @apply bg-terminal-black-200 border-secondary text-black shadow-none;
}

.btn-wrapper {
    @apply flex flex-col items-end;
}

.btn {
    @apply mx-auto rounded-lg border-2 border-terminal-black-200 bg-terminal-black/90 text-white px-7 py-1;
    @apply font-space-mono uppercase font-bold transition-all duration-100 cursor-pointer;
}

.btn:hover {
    @apply border-x-4 border-secondary;
}

.btn-submit {
    @apply inline-flex items-center justify-center whitespace-nowrap;
    @apply border border-white mx-2 py-1 px-8 lg:px-15 bg-secondary;
    @apply font-space-mono text-lg cursor-pointer font-bold uppercase text-white;
    @apply transition-all duration-200 rounded-lg shadow-terminal-black-500 shadow-md;
}

.btn-submit:hover {
    @apply bg-terminal-black-200 border-secondary text-black shadow-none;
}

.btn-cancel {
    @apply inline-flex items-center justify-center whitespace-nowrap;
    @apply bg-terminal-black-200 border border-secondary text-black mx-2 py-1 px-5 lg:px-15;
    @apply font-space-mono text-lg cursor-pointer uppercase font-semibold;
    @apply transition-all duration-200 rounded-lg shadow-terminal-black-500 shadow-md;
}

.btn-cancel:hover {
    @apply bg-terminal-black-200 border-secondary text-black font-bold shadow-none;
}

#about, #projects {
    scroll-margin-top: 56px;
}

/* needs to stay global */
.modal-wrapper {
    @apply fixed top-0 left-0 right-0 bottom-0 z-999 flex items-start justify-center overflow-y-auto;
    @apply bg-terminal-black/5 pt-30 backdrop-blur-sm;
}

.modal {
    @apply relative mx-auto w-5/6 max-w-7xl rounded-xl bg-white border-2 border-terminal-black-300;
    @apply shadow-lg shadow-terminal-black-600;
}

#contact-modal .modal {
    @apply mx-auto w-2/3;
}

/* Infinite scroll animation */
@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll {
    animation: infinite-scroll 45s linear infinite;
}
